*{
    margin:0px;
    padding:0px;
}

.header{

    height:100px;
    margin:auto;
    background-image:linear-gradient(to right top,
    deepskyblue,white 50%);
}
.header img{
    position:relative;
    left:400px;
    top:10px;
}
 h1{
    color:rgb(126, 147, 170);
    position:relative;
    left:700px;
    top:80px;
}

 p{
    position:relative;
    top:400px;
}
nav  img{
    position:relative;
    top:10px;
     margin:auto;

   
}
#nav{
    background:coral;
    width:1300px;
    height:50px;
    margin:auto;
}
.av  li{
    background:coral;
    list-style: none;
 
}
ul.av >li{
    list-style:none ;
    float:left;
    z-index: 2;
    position:relative;
}
ul.av >li a{
    padding-left:53px;
    line-height: 50px;
    text-decoration: none;
    color:aliceblue;
    font-family: tahoma;
    display:block;
}
ul.av >li a:hover{
    background:darkgray;
    color:black;
}
ul.giua{
    width:350px;
    background:coral;
    min-height: 150px;
    display:none;
    position:absolute;
}
ul.giua li{
    list-style: none;
}
ul.giua li a{
   border-bottom: 1px solid#fff;
}
ul.av >li:hover ul.giua {
    display:block;
}
.myslider{
    display:none;
}
button{
    position:relative;
    top:15px;
    left:500px;
    padding:2px 10px;
    
}
.right{
    position:relative;
    top:200px;
}

marquee{
    width:1000px;
    position:relative;
    top:10px;
    left:400px;
}

table{
    position:relative;
    left:350px;
    top:20px;
    list-style: none;
}
 ul.avs li{
     list-style: none;
    margin:auto;
}
.thongbao h10{
    color:cadetblue;
    position:relative;
    top:80px;
    left:560px;
}
footer{
    background:darkcyan;
    width:2000px;
    height:200px;
    position:relative;
    top:110px;
    
}
.footer1 {
    position:relative;
    left:500px;
    top:50px;
}
.footer2 {
    position:relative;
    left:500px;
    top:50px;
}
.footer3 {
    position:relative;
    left:500px;
    top:50px;
}
iframe {
    width:200px;
    height:100px;
    position:relative;
    left:1000px;
    top:260px;
    z-index: 2;
}
.left {
    float: right;
    height: 1000px; 
    position: relative;
    right:170px;
}
.menu1 {
    margin-top: 10px;
    padding-left: 50px;
    cursor: pointer;
}
.menu1 h2 {
    background: red;
    border-radius: 4px;
    padding: 4px 6px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-style: normal;
    width: 92%; 
    margin-bottom: 15px;
}
.menu1 li {
    padding: 5px 0px;
    font-size: 18px;
}
.menu1 li:hover {
    color: red;
}
.aside_box{
    width: 85%;
    height: 40px;
    background-color: dodgerblue;
    margin-left: 35px;
    margin-top: 10px;
}
.aside_box a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: 40px;
    margin-left: 15px;
}
.aside_box a:hover{
    color: lawngreen;
}
.border {
    border-bottom: solid 2px rgb(223, 14, 14);
    margin-left: 40px;
}
.left-img {
    height: 190px;
    margin-left: 50px;
    padding-top: 10px;
}
article{
    width: 72%;
    height: 1350px;
    border: 1px solid greenyellow;;
}
